<!DOCTYPE html>
<html lang="en" ng-app="redditCloneApp">
<head>
  <meta charset="UTF-8">
  <title>reddit clone 2.0</title>
  <script src="https://code.angularjs.org/1.5.0-rc.0/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.5.0-rc.0/angular-route.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="./node_modules/moment/moment.js"></script>
  <script type="text/javascript" src="./node_modules/angular-moment/angular-moment.js"></script>
  <script type="text/javascript" src="./services/CommentService.js"></script>
  <script type="text/javascript" src="./controllers/PostController.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main ng-controller="PostController">
    <form name='postForm' ng-submit='submitPost(postForm.$valid)' novalidate='' method='post'>
      <div ng-class="{ 'has-error' : postForm.title.$invalid && !postForm.title.$pristine }">
              <input type="text" name="title" id="title" ng-model="title" placeholder="title" required>
              <p ng-show="postForm.title.$invalid && !postForm.title.$pristine">title is required</p>
      </div>
      <div ng-class="{ 'has-error' : postForm.author.$invalid && !postForm.author.$pristine }">
              <input type="text" name="author" id="author" ng-model="author" placeholder="author" required>
              <p ng-show="postForm.author.$invalid && !postForm.author.$pristine">author is required</p>
      </div>
      <div ng-class="{ 'has-error' : postForm.imageUrl.$invalid && !postForm.imageUrl.$pristine }">
              <input type="text" name="imageUrl" id="imageUrl" ng-model="imageUrl" placeholder="imageUrl" required>
              <p ng-show="postForm.imageUrl.$invalid && !postForm.imageUrl.$pristine">imager url is required</p>
      </div>
      <div ng-class="{ 'has-error' : postForm.description.$invalid && !postForm.description.$pristine }">
              <input type="text" name="description" id="description" ng-model="description" placeholder="description" required>
              <p ng-show="postForm.description.$invalid && !postForm.description.$pristine">description is required</p>
      </div>
          <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">create new post</button>
      </form>
      <article ng-repeat="post in posts | orderBy: '-votes'">
        <div>
          <button ng-click="upvote(post)">upvote</button>
          <p>{{post.votes}}</p>
          <button ng-click="downvote(post)">downvote</button>
        </div>
        <div>
          <h3>title: {{post.title}} posted by: {{post.author}}</h3>
          <p>
            <strong>description: </strong>
            {{post.description}}
          </p>
          <p>
            <strong><span>{{post.date | amCalendar}}</span></strong>
          </p>
        </div>
        <div>
          <ul ng-show="post.showState" ng-repeat="comment in post.comments">
            <li>{{comment}}</li>
          </ul>
          <a href="" ng-click="showComments(post)">Show</a>
          <button ng-click="post.showState=false">Hide</button>
          <form>
            <input type="text" placeholder="write your comment" ng-model="post.newComment">
            <input type="submit" ng-click="addComment(post)" placeholder="add your comment">
          </form>
        </div>
      </article>
  </main>
</body>
</html>
